<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contacts</title>
    <link rel="icon" href="Google_Contacts_icon.svg" type="image/png">
    <link rel="stylesheet" href="/static/styles/styles.css">
    
</head>

 <body>
    <h1>Contacts Page</h1>

    <div id = "searchForm">
        <!-- search form to filter the results by criteria -->
        <form action="/search" method="POST">
            <h2>Search</h2>
            <label for="search_name">Search by name:</label>
            <input type="text" name="search_name" id="search_name" placeholder="Search by name">
            <button type="submit">Search</button>
        </form>
    </div>

    

    <table>
        <thead>
           <tr>
               <th>Number</th> 
               <th>Name</th>
               <th>Phone</th>
               <th>Email</th>
               <th>Gender</th>
               <th>Photo</th>
               <th>Actions</th>
           </tr>     
        </thead>
        <tbody>
            {% for contact in contacts:  %}
                <tr>
                    <td>{{contact.number}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.phone}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.gender}}</td>
                    <td><img src="/static/images/{{contact.photo}}"  height="50px"></td>
                    <td>
                        <a href="/deleteContact/{{contact.number}}">
                           <button>Delete</button>
                        </a>
                    </td>
                </tr>        
            {% endfor %}
        </tbody>
    </table>
    <a href="/AddContact">
        <button>Add new contact</button>

    <script src="/static/js/index2.js"></script>
</body>
</html>