body {
    background-color: #faec8f;
    font-family: Arial, Helvetica, sans-serif;
}


#searchForm {
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    color: #271e56;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    padding: 10px;
    text-align: center;
    border: 2px solid #271e56;
}


img {
    padding: 20px 70px;
}

a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #056337;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

td button {
    margin: auto;
}


button:hover {
    opacity: 0.7;
    background-color: #c2ff77;
    color: #271e56;
}


button:active {
    opacity: 0.4;
}